$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

$font-family: "Barlow Semi Condensed", serif;

$small-font-size: 12px;
$regular-font-size: 13px;
$large-font-size: 20px;

$light-violet: hsl(263, 74%, 70%);

// Base

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-grayish-blue;
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font-family;
    font-size: $regular-font-size;
}

main,
footer {
    width: 20.5rem; //base width
}

main {
    display: grid;
    gap: 1.5rem;
}

section {
    padding: 1.5rem 1.875rem 1.875rem 1.875rem;
    position: relative; //ensures that quotemark is inside of the container
    box-shadow: 32px 32px 64px -41px rgba(141, 155, 168, 0.589);
}

h1 {
    font-size: $regular-font-size;
}

footer {
    margin-top: 4.5rem;
    padding: 1rem;
}

// Styles

.testimonial {
    border-radius: 8px;
    display: grid;
    gap: 1.35rem;

    &__header {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    &__name {
        font-weight: 400;
    }

    &__status {
        font-size: $small-font-size;
        opacity: 50%;
    }

    &__portrait {
        width: 1.9rem;
        border-radius: 50%;
    }

    &__content {
        display: grid;
        gap: 1.25rem;
    }

    &__summary {
        font-size: $large-font-size;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: 0.26px;
    }

    &__quote {
        opacity: 60%;
        line-height: 130%;
        padding-right: 1.4rem;
    }

    // Specific styles
    // Daniel Clifford
    &:nth-child(1) {
        background-color: $moderate-violet;
        color: $white;
        overflow: hidden;

        .testimonial__portrait {
            border: 2px solid $light-violet;
        }

        .testimonial__summary {
            z-index: 1; // takes over the quotemark background
        }

        .testimonial__quote-mark {
            font-family: sans-serif;
            font-size: 26.5rem;
            color: $light-violet;
            position: absolute;
            top: -5rem;
            right: 0;
        }
    }

    // Jonathan Walters
    &:nth-child(2) {
        background-color: $very-dark-grayish-blue;
        color: $white;

        .testimonial__portrait {
            border: 2px solid hsl(216, 21%, 56%);
        }
    }

    // Jeanette Harmon and Kira Whittle
    &:nth-child(3),
    &:nth-child(5) {
        background-color: $white;
        color: $very-dark-blackish-blue;

        .testimonial__portrait {
            border: 2px solid $white;
        }
    }

    // Patrick Abrams
    &:nth-child(4) {
        background-color: $very-dark-blackish-blue;
        color: $white;

        .testimonial__portrait {
            border: 2px solid $moderate-violet;
        }
    }
}

.attribution {
    font-size: $small-font-size;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

// === RESPONSIVE DESIGN ===

// Tablets, small desktops, laptops
@media (min-width: 768px) {
    body {
        padding-top: 6rem;
    }

    main {
        display: grid;
        width: 47rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "card-1 card-1"
            "card-2 card-3"
            "card-4 card-3"
            "card-4 card-5";
    }

    // Daniel Clifford
    .testimonial:nth-child(1) {
        grid-area: card-1;
    }

    // Jonathan Walters
    .testimonial:nth-child(2) {
        grid-area: card-2;
    }

    // Patrick Abrams
    .testimonial:nth-child(4) {
        grid-area: card-3;
    }

    // Kira Whittle
    .testimonial:nth-child(5) {
        grid-area: card-4;
    }

    // Jeanette Harmon
    .testimonial:nth-child(3) {
        grid-area: card-5;
    }
}

// Desktop, large laptops
@media (min-width: 1440px) {
    body {
        justify-content: center;
        height: 100vh;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 17.4rem 17.4rem;
        width: 69.25rem;
        grid-template-areas:
            "card-1 card-1 card-2 card-3"
            "card-4 card-5 card-5 card-3";
    }

    // Daniel Clifford
    .testimonial:nth-child(1) {
        grid-area: card-1;

        .testimonial__quote-mark {
            right: 5rem;
        }
    }

    // Jonathan Walters
    .testimonial:nth-child(2) {
        grid-area: card-2;
    }

    // Kira Whittle
    .testimonial:nth-child(5) {
        grid-area: card-3;
    }

    // Jeanette Harmon
    .testimonial:nth-child(3) {
        grid-area: card-4;
    }

    // Patrick Abrams
    .testimonial:nth-child(4) {
        grid-area: card-5;
    }
}